@import url("https://fonts.cdnfonts.com/css/stella-nova");
@import url("https://fonts.googleapis.com/css?family=Special+Elite");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Stella Nova", sans-serif;
}

body {
  background-image: url("./images/math-bg.jpg");
  background-color: rgba(0, 83, 65, 0.5);
  background-blend-mode: luminosity;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-container {
  display: flex;
  justify-content: space-between;
  color: rgb(24, 96, 109);
  background-color: rgba(246, 255, 253, 0.9);
  padding: 2% 10%;
  border-bottom: 8px solid #001225;
  border-radius: 1px;
}

.title {
  margin-left: 0;
  position: absolute;
}

nav {
  width: 30%;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 2% auto 0;
  gap: 10%;
  align-items: center;
}

.nav-list a {
  text-decoration: none;
  color: rgb(24, 96, 109);
  font-size: 1.3rem;
  align-self: center;
}

.nav-list a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.main-page {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  justify-content: center;
  height: auto;
  font-family: "Quicksand", sans-serif;
  font-size: 1.4rem;
  padding: 5% 10%;
  text-align: center;
  color: aquamarine;
}

.main-page h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  margin: 2rem 0;
  color: rgb(0, 255, 255);
}

.main-page p {
  font-family: "Quicksand", sans-serif;
  color: aquamarine;
}

.button-group {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 7%;
  align-items: center;
  list-style: none;
}

.link-btn {
  cursor: pointer;
  background: none;
  padding: 1em;
  border: 1px solid rgba(255, 255, 255);
  border-radius: 6px;
  color: rgba(255, 255, 255);
  font-size: 19px;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2.5em;
  margin: 25% auto;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-decoration: none;
  display: flex;
  width: 100%;
}

.link-btn:hover {
  background: rgba(255, 255, 255);
  color: rgb(12, 70, 78);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.symbol-icon {
  margin-left: 10px;
  font-size: 1.3rem;
}

.quote-icon {
  margin-left: 10px;
  font-size: 1.4rem;
}

.calculate-page {
  display: flex;
  text-align: center;
  height: auto;
}

.new {
  width: 50%;
  padding: 0;
  margin: 0;
}

.calculate-page h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  margin: 2% 0 1%;
  color: rgb(0, 255, 255);
}

.content {
  margin: 9% 0 22% 9%;
  width: 40%;
  padding: 1%;
  background-color: rgb(3, 23, 45, 0.7);
  background-blend-mode: color-dodge;
  border: 2px solid white;
  border-radius: 20px;
}

.calc {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 4% 4% 12%;
  grid-auto-rows: 5em;
  background-color: rgb(114, 198, 217);
  width: 70%;
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
  grid-row-gap: 2.2%;
  grid-column-gap: 10px;
  border-bottom: 5px solid rgb(4, 9, 56);
}

.calc-desc {
  font-size: 1.3rem;
  width: 70%;
  margin: 1rem auto;
  color: white;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
}

.calc2 {
  margin: 3rem auto 0;
  padding: 5% 5% 3%;
  background-color: rgb(4, 9, 56);
  width: 70%;
  border: 2px solid rgb(114, 198, 217);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

button {
  font-size: 1.3em;
  font-weight: bold;
  width: 100%;
  border: none;
  color: white;
  background-color: rgb(4, 9, 56);
  border-radius: 0.7rem;
  cursor: pointer;
}

button:hover {
  color: rgb(4, 9, 56);
  background-color: antiquewhite;
  transition: 0.25s ease-in;
}

.section_view {
  grid-column: 1/5;
  border-radius: 0.7rem;
  border: 2px solid rgb(2, 4, 30);
  text-align: right;
  font-size: 1.5em;
  padding: 2%;
  background-color: rgb(255, 255, 255);
  animation: blink 2s;
  animation-iteration-count: 10;
}

@keyframes blink {
  50% {
    border-color: #fff;
  }
}

.section_value {
  color: rgb(2, 4, 30);
  font-size: 2.2rem;
}

.zero {
  grid-column: 1/3;
}

.operator {
  background-color: rgb(120, 255, 96);
  color: black;
}

.operator:hover {
  background-color: rgb(4, 176, 142);
}

.quotes {
  justify-content: center;
  margin: 2rem auto;
  padding: 2rem;
  align-items: center;
  width: 90%;
  color: rgb(24, 96, 109);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.error {
  color: red;
  font-size: 2rem;
  font-family: "Special Elite", cursive;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

.loading-msg {
  margin-top: 10%;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-family: "Special Elite", cursive;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

.quote-Contain {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  padding-top: 1rem;
  width: 90%;
}

blockquote {
  justify-content: center;
  margin: 20px auto;
  font-family: "Special Elite", cursive;
  font-weight: 100;
  font-size: 1.5rem;
  color: rgb(24, 96, 109);
  max-width: 700px;
  line-height: 1.4;
  position: relative;
  padding: 0.5rem;
}

blockquote::before,
blockquote::after {
  position: absolute;
  font-size: 5rem;
  width: 3rem;
  height: 3rem;
}

blockquote::before {
  content: "“";
  left: -2rem;
  top: -2.5rem;
}

blockquote::after {
  content: "”";
  right: -2rem;
  bottom: -1rem;
}

cite {
  line-height: 3;
  text-align: left;
  text-decoration: underline;
  font-style: italic;
  font-size: large;
}
